@page "/counter"
@using LeafletMap

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="map-element">
    <Map @ref="map" MaxZoom="18" MinZoom="0" Centr=@centr></Map>
</div>

@code {
    LeafletMap.Location centr = new Location(51, 52); 
    private int currentCount = 0;

    private Map map;

    Random r = new Random();
    private async void IncrementCount()
    {
        currentCount++;
        if (map != null)
        {
            List<Location> locations = new List<Location>()
                {
                    new Location(50 + r.NextDouble(), 50 + r.NextDouble()),
                    new Location(50 + r.NextDouble(), 50 + r.NextDouble()),
                    new Location(50 + r.NextDouble(), 50 + r.NextDouble()),
                    new Location(50 + r.NextDouble(), 50 + r.NextDouble()),
                    new Location(50 + r.NextDouble(), 50 + r.NextDouble()),
                    new Location(50 + r.NextDouble(), 50 + r.NextDouble()),
                };

            Polyline c = new Polyline()
                {
                    Points = locations
                };

            ShapeOption option = new ShapeOption()
                {
                    color = "red",
                    fillOpacity = 0.6
                };

            await map.AddShape(c, option);
        }

    }
}
